<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Trainer:</div>
                <div class="col-md-10"><a href="http://twitter.com/danpdc" target="_blank">Dan Patrascu-Baba</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Blog:</div>
                <div class="col-md-10"><a href="http://danpatrascu.com" target="_blank">https://danpatrascu.com</a></div>
            </div>
        </div>
    </div>
</div>